doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Produce Sales Form
  link(rel='stylesheet' href='/css/sales.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
body
   .video-container(style='height: 600px;')
      video(autoplay muted loop)
        source(src='/images/202407310754 (1).mp4' type='video/mp4')
    header
      img(style='width: 40px; height: 40px; border-radius: 50%;' src='/images/download (3).png')
      .agent-profile
        span.agent-name Welcome, Sales Agent
        a(href='/') Logout
    aside.sidebar
      nav
        ul
          li
            a#showSalesFormBtn(href='#')
              i.fas.fa-shopping-cart(style='padding-right:15px;')
              | Record Sales
          li
            a#showCreditFormBtn(href='/debit')
              i.fas.fa-credit-card(style='padding-right:15px;')
              | Credit Sales
br
br
br
form#Form(action=`/userSale/${produce ? procurement._id : ''}` method='POST' name='sale')
  h1 Sales Form
  .form-container
    .form-group
      label(for='') Name of Produce:
      select#produceName(name='produceName' type='text')
        option(value=procurement._id) #{procurement.produceName}
    .form-group
      label(for='tonnage') Tonnage (kgs):
      input#tonnage(type='number' name='tonnage')
    .form-group
      label(for='amountPaid') Amount Paid (UGX per kg):
      input#amountPaid(type='text' name='amountPaid')
    .form-group
      label(for='buyerName') Buyer's Name:
      input#buyerName(type='text' name='buyername')
    .form-group
      label(for='salesAgentName') SalesAgent's Name:
      select#salesAgent.form-control(name='salesAgent')
            if agents.length
               each agent in agents
                 option(value=agent._id) #{agent.firstName + " " + agent.lastName}
    .form-group
      label(for='branch') Branch Name:
      select#branch(name='branch')
        option(value='') Select Branch
        option(value='Maganjo') Maganjo
        option(value='Matugga') Matugga
    .form-group
      label(for='dateTime') Date and Time:
      input#dateTime(type='datetime-local' name='dateTime')
    .form-group
      label(for='totalpayment') Total Payment:
      input#totalpayment(type='number' name='totalpayment')  
  button(type='submit') Mak Sale
script(src='/js/ddd.js')