doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Receipt
    link(rel='stylesheet' href='/css/receipt.css')
  body
    .receipt
      h2.text-center Happy Hoe Grocery Ltd.
      p.text-center
        | Address Line Here
        br
        | Phone: 070-862-2600 | Fax: 443-443-123456
        br
        | Email: happyhoe00@gmail.com | Website: www.happyhoe.com

      hr

      table.table-bordered
        thead
          tr
            th Produce Name 
            th Tonnage Sold (kg) 
            th Amount Due (UGX) 
            th Buyer's Name 
            th Sales Agent 
            th Due Date 
        tbody#items
          each credit in receipt.credits
            tr
              td #{credit.produceName}
              td #{credit.tonnage}
              td #{credit.amountDue}
              td #{credit.buyerName}
              td #{credit.salesAgent}
              td #{moment(credit.dueDate).format('DD-MM-YYYY')}
        
      p.text-right
        strong Total Amount Due: 
        span UGX #{receipt.grandTotal}
     
      p.text-right
        a.btn-print(href='#' onclick='window.print(); return false;') Print Receipt
      
      // Back Button
      p.text-right
        a.btn-print(href='javascript:history.back();') Back

      hr

      p.text-center
        | Thank you for supporting  us!

    script(src='/js/receipt.js')
