doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Revenue Reports
    link(rel='stylesheet' href='/css/report.css') 
  body
    h1 Revenue Report

    table.table
      thead
        tr
          th Produce Name
          th Total Tonnage
          th Total Cost (UGX)
          th Total Selling Price (UGX)
          th Projected Revenue (UGX)
      tbody
        each item in procurements
          tr
            td= item._id
            td= item.totaltonnage
            td= item.totalCost.toLocaleString('en-US', { style: 'currency', currency: 'UGX' })
            td= item.totalSellingPrice.toLocaleString('en-US', { style: 'currency', currency: 'UGX' })
            td= item.projectedRevenue.toLocaleString('en-US', { style: 'currency', currency: 'UGX' })

    // Optional: Add a button or link to export the report or go back
    a.btn.btn-primary(href='/overView') Back to Dashboard
