doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sales Receipt
    link(rel='stylesheet' href='/css/receipt2.css')
  body
    .receipt
      h2.text-center Happy Hoe Grocery Ltd.
      p.text-center
        | Address Line Here
        br
        | Phone: 070-862-2600 | Fax: 443-443-123456
        br
        | Email: happyhoe00@gmail.com | Website: www.happyhoe.com

      hr

      table.table-bordered
        thead
          tr
            th Produce Name 
            th Tonnage Sold (kg) 
            th Amount Paid (UGX) 
            th Buyer's Name
            th Due Date  
            th Sales Agent 
        tbody#items
          each sale in receipt.sales
            tr
              td #{sale.producename}
              td #{sale.tonnage}
              td #{sale.amountPaid}  
              td #{sale.buyerName}
              td #{moment(sale.dueDate).format('DD-MM-YYYY')}
              td #{sale.salesAgent.username}

      p.text-right
        strong Total Amount Paid: 
        span UGX #{receipt.grandTotal} 

      p.text-right
        a.btn-print(href='#' onclick='window.print(); return false;') Print Receipt
      
      // Back Button
      p.text-right
        a.btn-print(href='javascript:history.back();') Back

      hr

      p.text-center
        | Thank you for supporting us!

    script(src='/js/receipt.js')
