doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales Form
    link(rel='stylesheet' type='text/css' href='/css/credit.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  body
    .video-container(style='height: 600px; position:relative;')
      video(autoplay muted loop)
        source(src='/images/202407310754 (1).mp4' type='video/mp4')
    header
      img(src='/images/download (3).png' style='width: 40px; height: 40px; border-radius: 50%;')
      .manager-profile
        span.manager-name Welcome, Manager
    main
      aside.sidebar
        nav
          ul
            li
              a(href='/overView')
                i.fas.fa-clipboard-list(style='padding-right: 9px;')
                | Overview
            li
              a(href='/addProcurement')
                i.fas.fa-file-archive(style='padding-right: 9px;')
                | Procurements
            li
              a(href='#')
                i.fas.fa-chart-bar(style='padding-right: 9px;')
                | Reports
.form-container
  .form-header
    h1 update Credit Sales Form
  form(name='salesForm', onsubmit='return validateForm()', action='/updateCredit?id='+credit._id method='POST')
    .form-row
      .form-column
        label(for='buyerName') Buyer Name:
        input#buyerName(type='text' name='buyerName' value=credit.buyerName)
        label(for='nationalId') National ID (NIN):
        input#nationalId(type='text' name='nationalid' value=credit.nationalid)
        label(for='location') Location:
        input#location(type='text' name='location' value=credit.ocation)
        label(for='contacts') Contacts:
        input#contacts(type='text' name='contact' value=credit.contact)
        label(for='amountDue') Amount Due (UGX):
        input#amountDue(type='text' name='amountDue' value=credit.amountDue)
        label(for='salesAgent') Sales Agent Name:
        input#salesAgent(type='text' name='salesagent' value=credit.salesagent)
      .form-column
        label(for='dueDate') Due Date:
        input#dueDate(type='date' name='dueDate' value=creditdueDate)
        label(for='branch') Branch Name:
        select#branch(name='branch' required='')
          option(value='') Select Branch
          option(value='Maganjo'  selected = credit.branch  === "Maganjo") Maganjo
          option(value='Matugga'  selected = credit.branch  === "Matugga") Matugga
        label(for='produceName') Produce Name:
        select#produceName(type='text' name='produceName')
          option(value=credit._id) #{credit.produceName.produceName}
          
        label(for='produceType') Type of Produce:
        select#produceType(name='produceType')
          option(value='Cereals' selected=produceType === 'cereals') Cereals
          option(value='Grains' selected=produceType === 'grains') Grains
          option(value='Iegumes' selected=produceType === 'legumes') Legumes
        label(for='tonnage') Tonnage:
        input#tonnage(type='number' name='tonnage' value=credit.tonnage)
        label(for='dispatchDate') Date of Dispatch:
        input#dispatchDate(type='date' name='dispatchDate' value=credit.dispatchDate)
    .submit
      button(type='submit') update
  #result
script(src='/js/credit.js')